@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
.title {
  /* margin-top: 100px; */
    line-height: 1.15;
    font-size: 4rem;
    font-family: "Revalia", cursive;
    text-shadow: 3px 5px 7px black;
    margin-bottom: 40px;
    animation: bounce;
}

.showContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.showpiece {
    max-width: 400px;
}
.showpiece2 {
    max-width: 350px;
}

.subTitle {
    font-size: 40px;
    font-family: "Archetects Daughter";
    font-weight: bolder;
    color: rgb(168, 72, 72);
}

.override {
    display: flex;
    flex-direction: column;
    
}

@media (max-width: 600) {
    .override {
        display: flex;
        flex-direction: row;
        color: black;
        
    }
}
